Repository Arquisoft/radarin_en3b, pull requests merged in 2021-04, with the labels that each got.

#153 Fixes everywhere
  webapp/package-lock.json
  webapp/package.json
  webapp/public/qrcode.png
  webapp/src/App.js
  webapp/src/api/API.js
  webapp/src/components/LocationsList.js
  webapp/src/components/LocationsView.js
  webapp/src/components/LoginPage.js
  webapp/src/components/MainNavbar.js
  webapp/src/components/NavbarAnonym.js
  webapp/src/components/NavbarSession.js
  webapp/src/components/QRPage.js
  webapp/src/components/locations/FetchDBLocations.js
  webapp/src/components/locations/Location.js
  webapp/src/css/LoginPage.css
  webapp/src/redux/slices/keysSlice.js
  webapp/src/redux/slices/locationsSlice.js
  webapp/src/redux/slices/userSlice.js
  webapp/src/redux/store.js
  webapp/src/utils/getOrCreatePrivateFilePod.js
  webapp/src/utils/keyManagement.js
Labels: bug, enhancement

#158 Webapp tests
  webapp/e2e/custom-environment.js
  webapp/e2e/features/change-view.feature
  webapp/e2e/features/check-locations.feature
  webapp/e2e/features/login.feature
  webapp/e2e/features/register-form.feature
  webapp/e2e/global-setup.js
  webapp/e2e/steps/change-view.steps.js
  webapp/e2e/steps/check-locations.steps.js
  webapp/e2e/steps/login.steps.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/App.js
  webapp/src/App.test.js
  webapp/src/components/LoginPage.js
  webapp/src/components/NavbarAnonym.js
  webapp/src/components/NavbarSession.js
  webapp/src/redux/slices/locationsSlice.js
  webapp/src/tests/App.test.js
  webapp/src/tests/LoginView.test.js
  webapp/src/tests/Navbar.test.js
Labels: javascript

#166 Documentation update
  webapp/docs/01_introduction_and_goals.adoc
  webapp/docs/04_solution_strategy.adoc
  webapp/docs/06_runtime_view.adoc
  webapp/docs/08_concepts.adoc
  webapp/docs/09_design_decisions.adoc
Labels: documentation

#169 Fix mobile login
  mobileapp/.expo/packager-info.json
  mobileapp/App.js
  mobileapp/FriendsLocation.js
  mobileapp/LoadingScreen.js
  mobileapp/LoginScreen.js
  mobileapp/redux/slices/userSlice.js
Labels: enhancement

#185 Periodic fetch webapp
  mobileapp/package-lock.json
  mobileapp/package.json
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/LocationsList.js
  webapp/src/redux/slices/locationsSlice.js
Labels: bug, webapp

#187 Link to maps implemented
  mobileapp/FetchFriends.js
  mobileapp/FriendsLocation.js
  mobileapp/HomeScreen.js
Labels: enhancement, mobile

#190 Testing mock states
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/LocationsView.js
  webapp/src/components/MainGrid.js
  webapp/src/components/NavbarSession.js
  webapp/src/components/QRPage.js
  webapp/src/components/locations/FetchDBLocations.js
  webapp/src/tests/App.test.js
  webapp/src/tests/Location.test.js
  webapp/src/tests/LocationsView.test.js
  webapp/src/tests/LoginView.test.js
  webapp/src/tests/NavBarSession.test.js
  webapp/src/tests/QRPage.test.js
  webapp/src/tests/index.test.js
Labels: test, webapp

#198 Polyline impl
  webapp/src/components/LocationsList.js
  webapp/src/components/LocationsListMock.js
  webapp/src/components/MapView.js
  webapp/src/components/locations/FetchDBLocations.js
  webapp/src/components/locations/Polyline.js
  webapp/src/redux/slices/locationsSlice.js
  webapp/src/tests/QRPage.test.js
Labels: enhancement, webapp

#220 Api endpoint rework final
  .gitignore
  mobileapp/FriendsLocation.js
  mobileapp/utils/RDFStore.js
  restapi/api.js
  restapi/middleware/FriendsStore.js
  restapi/middleware/WebIdQueryChecker.js
  restapi/package-lock.json
  restapi/package.json
  restapi/tests/api.test.js
  webapp/src/components/UploadLocation.js
Labels: mobile, restapi

#217 New location loading
  mobileapp/.expo/packager-info.json
  webapp/package.json
  webapp/src/components/LocationsList.js
  webapp/src/components/MapView.js
  webapp/src/components/NavbarSession.js
  webapp/src/components/UploadLocation.js
  webapp/src/components/locations/FetchDBLocations.js
  webapp/src/components/locations/FetchPhoto.js
  webapp/src/components/locations/FetchPodCreatedLocations.js
  webapp/src/components/locations/Location.js
  webapp/src/components/locations/Polyline.js
  webapp/src/components/locations/PostLocation.js
  webapp/src/redux/slices/locationsSlice.js
  webapp/src/tests/Location.test.js
  webapp/src/tests/QRPage.test.js
  webapp/src/utils/GetOrCreatePublicFilePod.js
  webapp/src/utils/getOrCreatePrivateFilePod.js
  webapp/src/utils/keyManagement.js
Labels: bug, enhancement, webapp

#228 Think I fixed it
  webapp/src/App.js
Labels: bug, webapp

#230 Implemented
  webapp/src/App.js
  webapp/src/components/LoginPage.js
  webapp/src/components/NavbarAnonym.js
  webapp/src/components/NavbarSession.js
  webapp/src/components/UploadLocation.js
  webapp/src/redux/slices/userSlice.js
Labels: enhancement, webapp

#231 e2e reimplemented
  webapp/e2e/steps/change-view.steps.js
  webapp/e2e/steps/check-locations.steps.js
  webapp/e2e/steps/login.steps.js
Labels: bug, test

#240 Friends loc to webview
  webapp/src/components/locations/FetchPhoto.js
  webapp/src/components/locations/FetchPodCreatedLocations.js
  webapp/src/components/locations/FetchPodFriendsCreatedLocations.js
  webapp/src/components/locations/Location.js
  webapp/src/css/Location.css
  webapp/src/redux/slices/locationsSlice.js
Labels: enhancement, webapp

#243 Linking mobile with webapp when location loading implemented
  mobileapp/.expo/packager-info.json
  mobileapp/FriendsLocation.js
  mobileapp/HomeScreen.js
  mobileapp/LoadingScreen.js
  mobileapp/LoginScreen.js
  mobileapp/MyAddingLocations.js
  mobileapp/redux/slices/executingSlice.js
  webapp/src/App.js
  webapp/src/components/UploadLocation.js
  webapp/src/redux/slices/userSlice.js
Labels: enhancement, mobile, webapp
